* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    anchor-name: --some-anchor;
}

.box {
    height: 30px;
    width: 80px;
    border-radius: 5px;
    padding: 3px 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.box:hover {
    anchor-name: --some-anchor;
}

.anchor {
    background-color: rgb(49, 49, 49);
    border-radius: 5px;
    position: absolute;
    position-anchor: --some-anchor;
    top: anchor(top);
    left: anchor(left);
    bottom: anchor(bottom);
    right: anchor(right);
    transition: all 0.3s linear;
    mix-blend-mode: difference;
    pointer-events: none;
}